In [1]:
import numpy as np
import pandas as pd
import os
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, MetaData
# Import and establish Base for which classes will be constructed 
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

# Import modules to declare columns and column data types
from sqlalchemy import Column, Integer, String, Float, ForeignKey, Text

In [2]:
file_path_1 = os.path.join("clean_hawaii_measurements.csv")
file_path_2 = os.path.join("clean_hawaii_stations.csv")
hawaii_measurements_df = pd.read_csv(file_path_1)
hawaii_stations_df = pd.read_csv(file_path_2)

In [3]:
hawaii_stations_df.head()

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [4]:
hawaii_measurements_df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-07  0.06    70

In [5]:
import sqlite3

conn = sqlite3.connect('hawaii.sqlite')

In [6]:
class Measurement(Base):
    
    __tablename__ = 'measurements'
    id = Column(Integer, primary_key=True)
    station = Column(Text)
    date = Column(Text)
    prcp = Column(Float)
    tobs = Column(Float)
    
    def __repr__(self):
        return f"id={self.id}, name={self.station}"

In [7]:
class Station(Base):
    __tablename__ = 'stations'
    id = Column(Integer, primary_key=True)
    station = Column(Text)
    name = Column(Text)
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)

    def __repr__(self):
        return f"id={self.id}, name={self.name}"

In [8]:
engine = create_engine("sqlite:///hawaii.sqlite")
# Create a connection to the engine called `conn`
conn = engine.connect()
# Use `create_all` to create the tables in the database
Base.metadata.create_all(conn)
engine.table_names()

['measurements', 'stations']

In [9]:
metadata = MetaData(bind=engine)
metadata.reflect()

In [10]:
conn = engine.connect()
data = hawaii_measurements_df.to_dict(orient='records')

table = sqlalchemy.Table('measurements', metadata, autoload=True)

In [11]:
#Delete all rows in the table 
conn.execute(table.delete())

In [12]:
# Test that the insert works by fetching the first 5 rows. 
conn.execute("select * from measurements limit 5").fetchall()

[]

In [13]:
# Insert the dataframe into the database in one bulk insert
conn.execute(table.insert(), data)

In [14]:
# Test that the insert works by fetching the first 5 rows. 
conn.execute("select * from measurements limit 5").fetchall()

[(1, 'USC00519397', '2010-01-01', 0.08, 65.0),
 (2, 'USC00519397', '2010-01-02', 0.0, 63.0),
 (3, 'USC00519397', '2010-01-03', 0.0, 74.0),
 (4, 'USC00519397', '2010-01-04', 0.0, 76.0),
 (5, 'USC00519397', '2010-01-07', 0.06, 70.0)]

In [15]:
engine = create_engine("sqlite:///hawaii.sqlite")
# Create a connection to the engine called `conn`
conn = engine.connect()
# Use `create_all` to create the tables in the database
Base.metadata.create_all(conn)
engine.table_names()

['measurements', 'stations']

In [16]:
metadata = MetaData(bind=engine)
metadata.reflect()

In [17]:
conn = engine.connect()
data = hawaii_stations_df.to_dict(orient='records')

table = sqlalchemy.Table('stations', metadata, autoload=True)

In [18]:
#Delete all rows in the table 
conn.execute(table.delete())

In [19]:
# Test that the insert works by fetching the first 5 rows. 
conn.execute("select * from stations limit 5").fetchall()

[]

In [20]:
# Insert the dataframe into the database in one bulk insert
conn.execute(table.insert(), data)

In [21]:
# Test that the insert works by fetching the first 5 rows. 
conn.execute("select * from stations limit 5").fetchall()

[(1, 'USC00519397', 'WAIKIKI 717.2, HI US', 21.2716, -157.8168, 3.0),
 (2, 'USC00513117', 'KANEOHE 838.1, HI US', 21.4234, -157.8015, 14.6),
 (3, 'USC00514830', 'KUALOA RANCH HEADQUARTERS 886.9, HI US', 21.5213, -157.8374, 7.0),
 (4, 'USC00517948', 'PEARL CITY, HI US', 21.3934, -157.9751, 11.9),
 (5, 'USC00518838', 'UPPER WAHIAWA 874.3, HI US', 21.4992, -158.0111, 306.6)]